SISRS
SISRS_Run
output
slurm*
logfile*
*.fasta
*.out
*.txt
*.csv
intermediate_debugging/
slurm_outs/
*.nh
step_2_LnLs_outs_primates/
step_2_LnLs_outs_treeshrew/
step_3_concat_primates_out_files/
step_3_concat_treeshrew_out_files/
step_4_gtree_out_files/
step_5_collect_gtrees_out/
step_6_combined_iqtree_out_files/
step_7_collect_phyloinference_LnL/
AMAS/
cactus_mammal_alignment/
Homo_sapiens/
IQ_TREE2/
PhyloMAd/



